@import './fonts/fonts.css';


.vkuiSplitCol--spaced {
    margin-left: 0px;
}
.vk-sans .vkuiPlaceholder__header {
    font-family: VK Bold, system-ui, Helvetica Neue, Roboto, sans-serif;;
}
.svg-group .vkuiGroup__inner,
.svg-group .vkuiCard__in {
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
@media (max-width: 768px) {
    .svg-group .vkuiGroup__separator {
        padding-top: 0;
        position: relative;
        overflow: hidden;
    }
    
    .svg-group .vkuiSeparator__in {
        width: 120%;
        position: absolute;
        margin: 0 !important;
    }
}

.place-left .vkuiPlaceholder__in {
    text-align: left;
    padding-bottom: 10px;
    padding-top: 20px;
}
.placeholder-mini .vkuiPlaceholder__in {
    padding-top: 10px;
    padding-bottom: 10px;
}
.chapter_header-img {
    margin-top: 20px;
    width: 534px;
    height: 272px;
}